<div class="jumbotron center">
	<div class="row">
	<div class="col-md-14"><h1>About US</h1></div>
  <div class="col-md-10">There are so many grasses in the field</div>
</div>
<div class="row">
	
  <div class="col-md-8">It is mush!</div>
  <p>We are working on our one month rails app</p>
  <div class="col-md-4">Babushca!!!</div>
  <p>We are working on our one month rails app</p>
</div>
<div class="row">
  <div class="col-md-4">Sand in the 'ol vu JJ</div>
  <div class="col-md-4">Super duper looper pooper</div>
  <div class="col-md-4">If my eyes could hear!</div>
</div>
<div class="row">
	<p>We are working on our one month rails app</p>
  <div class="col-md-6">When we finish the end is near</div>
  <div class="col-md-6">Happiness is in the not mind</div>
</div>
	
</div>