<div class="jumbotron center">
<h2>Welcome To MY APP!</h2>
<p><%= link_to "Sign in", "#", class: "btn btn-default btn-sm" %>           <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
