<div class="well well-sm center">
<h2><%= link_to "Sign in", "#", class: "btn btn-default btn-sm" %>   Welcome To Mapcentrix!   <%= link_to "Sign up", "#", class: "btn btn-primary btn-sm" %></h2>
</div>
<div class="panel panel-default">
  <div class="panel-body">
   <p><iframe src="https://www.google.com/maps/d/u/0/embed?mid=zIUyQzrZe1Yg.kLpG074dsNzQ" width="100%" height="600"></iframe>
	 </p>
  </div>
</div>

